<ion-header>
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="Dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-textarea [(ngModel)]="taskName" placeholder="Write your task here"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="taskPeriority">
        <ion-select-option value="Low">Low</ion-select-option>
        <ion-select-option value="Middle">Middle</ion-select-option>
        <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item (click)="showCalendar()">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label >Due Date </ion-label>
      <ion-label *ngIf="taskDate==undefined">Select Date</ion-label>
      <ion-label *ngIf="taskDate!=undefined">{{taskDate | date | date:'fullDate'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-datetime [ngClass]="{'ion-hide' : show==false}" [(ngModel)]="taskDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Category</ion-label>
      <span>{{taskCategory}}</span>
    </ion-item>
    <ion-item>
      <ion-chip *ngFor="let cat of categories; let i = index" (click)="selectedCat(i)">
        <ion-label>{{cat}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-button class='ion-margin' expand='block' (click)="AddTask()">Add Task</ion-button>
  </ion-card>
</ion-content>
