.ion-label{
  font-weight: 800; 
  font-size :3rem;
  p{
    font-weight:400;
    color:#433465;
  }
}
ion-content{
  --background:#F0F4FD;
  p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin:0;
  }
}